body {
    background-color: #98FB98;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    cursor: url(/images/cursor.cur), auto;
}

.card {
    background-color: white;
    border: 2px solid black;
    padding: 50px;
    width: 650px;
    align-content: center;
    margin: auto;
}

.links {

  padding: 30px;
  text-align: center;
  background-color:darksalmon;
  color: black;
  font-weight: bold;
  font-size:medium;
  border: 2px solid black;
  cursor: url(/images/cursor.cur), auto;
}

div.container {
    text-align: center;
  }


a:hover {
  background-color: salmon;
}
