body {
    background-color: #98FB98;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    cursor: url(/images/cursor.cur), auto;
}

.card {
    background-color: white;
    border: 2px solid black;
    padding: 50px;
    width: 650px;
    align-content: center;
    margin: auto;
}

.flex-container {
  display: flex; 
  gap: 20px;
}

.boxes {
  display: flex;
  background: darksalmon;
  border: 4px solid black;
  height: 100px;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.links {
  text-align: center;
  background-color:darksalmon;
  color: black;
  font-weight: bold;
  font-size:medium;
  cursor: url(/images/cursor.cur), auto;
}

div.container {
    text-align: center;
  }


a:hover {
  background-color: salmon;
}
